/**
 * Extra overrides for aendrew.com
 * by @aendrew
 */

.page-content {
  background: white;
  border-radius: 10px;
  opacity: 0.9;
}

.panel {
  border-radius: 10px;
  opacity: 0.8;
}

.panel-default > .panel-heading {
  background: transparent;
}